<nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-gradient shadow">
  <div class="container-fluid m-2">
    <div class="row align-items-center">
      <div class="col-lg-2 col-sm-2">
        <a class="navbar-brand mx-4" href="#">
          <img
            src="../../../assets/medical-history.png"
            alt="logo"
            width="50"
            class="img-fluid "
          />
        </a>
      </div>
      <div class="col-lg-10 col-sm-6 ml-sm-2">
        <h4 class="text-white mx-4">Crud Equipos médicos</h4>
      </div>
    </div>
  </div>
</nav>
